<!doctype html>
<html lang="en">
<head>
    <title>Paymanat</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="css/app.min.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

<div class="header wrap _background-primary-transparent">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <h1><a class="navbar-brand" href="#"><img class="img-responsive" src="img/logo.png" alt="Paymanat"></a></h1>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="menu__ink" href="/">Ana Səhifə</a></li>
                    <li class="nav-item"><a class="menu__ink" href="partner.html">Partnyor</a></li>
                    <li class="nav-item"><a class="menu__ink" href="#">Paymanat kod al</a></li>
                    <li class="nav-item"><a class="menu__ink" href="contacts.html">Əlaqə</a></li>
                </ul>
            </div>

            <div class="balance d-flex">
                <div class="d-flex">
                    <svg class="balance__icon-wallet fill-white" viewBox="0 0 100 100">
                        <use xlink:href="sprite/symbol/sprite.svg#wallet" class="icon"></use>
                    </svg>
                    <span class="balance__price">7250</span>
                </div>

                <svg class="balance__icon-manat-symbol fill-white" viewBox="0 0 100 100">
                    <use xlink:href="sprite/symbol/sprite.svg#manat-symbol" class="icon"></use>
                </svg>
            </div>

            <div class="account text-center">
                <p class="account__name">Vüqar <span class="account__surname text-uppercase">Alışov</span></p>
                <p>Hesab nömrəsi: <span>212002</span></p>
            </div>
        </nav>
    </div>
</div>
<main class="main _background-white-gray">
    <div class="container _padding-top-xxl _padding-bottom-bxl">
        <div class="row">
            <div class="content-frame border-radius-10 _background-white tab-content">
                <div class="col-3 m-auto _pa">
                    <img src="img/buy-paymanat-code.png" alt="#">
                </div>

                <div class="col-md-12">
                    <p>1) MilliÖN, e-Manat Aparatlarından Paymanat Kod almaq üçün Ödəmə kartları menyusuna daxil olunur,
                        Paymanat Code düyməsi tapılıb vurulur,
                        Açılan ödəniş menyusunda kartın şifrə və seriya nömrəsinin SMS vasitəsilə mobil telefona
                        göndərilməsindən ötrü mütləq olaraq işlətdiyiniz hər hansı
                        mobil operatora məxsus telefon nomrə lazımi xanaya qeyd olunur, 1 AZN-dən kiçik olmayan
                        istənilən məbləğ aparata daxil edilir və təsdiqləmə
                        düyməsi vurulur.</p>

                    <p>Əməliyyat başa çatdıqdan sonra ödəniş qəbzini götürməyi unutmayın. Çünki mobil telefonunuza gələn
                        SMS ilə yanaşı, ödəniş qəbzinin də üzərində
                        aldığınız Netpay Kod və onun seriyası əks olunur. Ən əsası, ödəniş qəbzi sizin ödənişinizin
                        sübutudur.</p>

                    <p>2) Plastik Kart vasitəsilə kodu qeyd olunan səhifədən əldə edə bilərsiniz: Paymanat kod al</p>
                </div>
            </div>

        </div>
    </div>
</main>

<footer class="footer _background-dark-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-12">
                <div class="footer__block">
                    <p class="footer__paragraph text-uppercase">2010 - 2018 PAYMANAT MMC</p>
                    <p class="footer__paragraph">Bütün hüquqlar qorunur</p>
                </div>
            </div>

            <div class="col-sm-6 col-12">
                <div class="footer__block text-right">
                    <svg class="footer__icon" viewBox="0 0 100 100">
                        <use xlink:href="sprite/symbol/sprite.svg#cc-visa" class="icon"></use>
                    </svg>

                    <svg class="footer__icon" viewBox="0 0 100 100">
                        <use xlink:href="sprite/symbol/sprite.svg#cc-mastercard" class="icon"></use>
                    </svg>

                    <svg class="footer__icon" viewBox="0 0 100 100">
                        <use xlink:href="sprite/symbol/sprite.svg#cc-discover" class="icon"></use>
                    </svg>

                    <svg class="footer__icon" viewBox="0 0 100 100">
                        <use xlink:href="sprite/symbol/sprite.svg#cc-paypal" class="icon"></use>
                    </svg>

                    <svg class="footer__icon" viewBox="0 0 100 100">
                        <use xlink:href="sprite/symbol/sprite.svg#cc-amex" class="icon"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs-_XBiik7yqVJidUCqIwY3uzmsYIwug4"></script>
<script src="js/snazzy-info-window/snazzy-info-window.js"></script>
<script src="js/snazzy-info-window/script-snazzys.js"></script>
<script src="js/jquery.accordion.master.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owlcarousel/owl.carousel.min.js"></script>
<script src="js/lightbox/lightbox.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>