body{
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #07253F!important;
    background-color: #fff!important;
    font-size: 16px !important;
    margin: 0;
    padding:0;
}
@font-face{
    font-family:'montserrat_regular';
    font-weight:normal;
    font-style:normal;
    src: url('../fonts/Montserrat/Montserrat-Regular-webfont.woff') format("woff");
}

@font-face{
    font-family:'montserrat_bold';
    font-weight:normal;
    font-style:normal;
    src: url('../fonts/Montserrat/Montserrat-Bold-webfont.woff') format("woff");
}
a:hover{
    text-decoration: none!important;
}
.remove_col_padding{
    padding-left: 0!important;
    padding-right: 0!important;
}
.remove_col_padding_web{
    padding-left: 0!important;
    padding-right: 0!important;
}

.container{
    max-width: 1140px;
}

.container.small_width{
    max-width: 610px;
}
.container.medium_width{
    max-width: 930px;
}
.container.large_width{
    width: unset;
    max-width: 1400px;
}

.inline{
    float: left;
}
.clearBoth{
    clear:both;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
:focus{
    outline: 0;
    /*outline-color: #dbdbdb;*/
}

.alert{
    margin-bottom: 0px!important;
}


/*Umodal*/
div.umodal{
    display: none;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left:50%;
    max-width: 650px;
    width: 100%;
    margin-left:-325px;
    overflow-y: scroll;
}
div.umodal::-webkit-scrollbar { width: 0 !important }
div.umodal { overflow: -moz-scrollbars-none; }
div.umodal { -ms-overflow-style: none; }

div.umodal_box{
    margin: 50px 0;
    background-color: #fff!important;
    padding-top: 20px;
}

div.umodal_close{
    padding-top: 20px;
    font-size: 24px;
    float: right;
}
div.umodal_close:hover{
    cursor: pointer;
    color: rgba(80, 38, 113, 0.89);
}
div.umodal_head{
    padding: 0 40px;
}

div.umodal_title{
    float:left;
}
div#redirect_url{
    display: block;
}




.header{
    position: fixed;
    z-index: 100;
    height: 80px;
    width: 100%;
    padding: 10px 10px;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: rgba(90,43,129,.2) 0 1px 10px 0;
    box-shadow: 0 10px 10px 0 rgba(90,43,129,.2);
}


.header_logo{
    margin-top: 3px;
    margin-left: 25%;
}

div.menu{
    position: absolute;
    left: 30%;
    top:0;
}
ul.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    position: relative;
}
ul.menu>li{
    float: left;
}
ul.menu > li a {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #07253f;
    font-weight: 500;
    padding: 29px 16px;
    text-decoration: none;
    letter-spacing: 1px;
}

ul.menu li.li_title{
    padding:10px;
    font-weight: bold;
    text-align: left;
}

div.icons_area ul.menu > li >a {
    padding: 38px 16px 22px 16px!important;
    margin-top: -16px;
}
ul.menu li a:hover {
    background-color: #f7f7f7;
    color: #673194;
}
li.menu_li:hover ul.sub_menu{
    display: block;
}

ul.sub_menu{
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    overflow-y: scroll;
    position: absolute;
    border: 1px solid #f0e2f9;
    border-radius: 5px;
    z-index: 110;
    background-color: #fff;
    display: none;
    min-width: 230px;
}



ul.sub_menu>li{
}

ul.sub_menu > li a {
    display: block;
    font-size: 14px;
    color: #000;
    font-weight: normal;
    padding: 5px 20px;
    text-decoration: none;
    text-align: left;
}

.mobile_header{
    position: relative;
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px;
    color: #000;
}
.mobile_header img{
    width: 100px;
}

.header_sign{
    padding: 10px;
}
.header_account a, .header_sign a{
    color: #000;
    font-weight: bold;
    padding: 20px 20px;
}
.header_cart a{
    color: #000;
    font-weight: bold;
    padding: 25px 10px 16px 10px
}
.header_cart a:hover{
    background-color: #eee;
    color: #000;
    text-decoration: none;
}
span.logo_letter{
    font-size: 24px;
    padding-right: 5px;
    color: #ff5d06fc;
}

.header_logo img{
    width: 150px;
}
img.footer_logo{
    width: 150px;
}
.mobile_header_logo{
    position: absolute;top: 51%;left:30%;transform: translate(-50%, -50%);
}
.cart_icon{
    color: #000;
    font-size: 28px;
}
.header_cart_count{
    font-size: 10px;
    color: #fff;
    background-color: #1a92cc;
    position: absolute;
    top: 8px;
    right: 20px;
    width: 17px;
    height: 17px;
    text-align: center;
    padding-top: 3px;
    border-radius: 50%;
}

.icons_area{
    text-align: right;
}
.icons_area ul{
    list-style: none;
}
.icons_area li{
    /*float:left;*/
}
.icons_area i{
    color: #673194;
    font-size: 24px;
    padding-right: 2px;
}
.icons_area span{
    color: #673194;
    font-size: 18px;
    font-weight: bold;
}

.icons_area:hover span{
    color: #a44bea;
}
.icons_area:hover i{
    color: #a44bea;
}
span.new_message_header{
    position:absolute;
    right: 45px;
    top: 2px;
    background-color: red;
    color: #fff;
    padding: 0px 3px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 2px;
}
div.new_message_inner{
    display: inline-block;
    background-color: red;
    color: #fff;
    padding: 2px 5px;
    font-weight: bold;
    font-size: 13px;
    border-radius: 2px;
    margin-left: 10px;
    margin-top: 13px;
}

.account_area .menu_li a.login_info{
    color: #fff;
}

.account_area .menu_li a:hover{
    color: #673194;
}
.account_area .sub_menu{
    margin-left: -40px;
    min-width: 200px!important;
}
.header_cart{
    position: absolute;
    top: 50%;
    right:0%;
    transform: translate(0%, -50%);
}

.header_cart a{
    padding: 14px 16px!important;
}
.header{
    /*padding: 10px 0px;*/
}

.footer{
    background: #673194;
    color: #FFFFFF;
    padding: 20px 122px 30px 122px;
}

.footer_logo{
    margin-top: 5px;
}
.footer_logo a{
    padding: 0!important;
}

.footer_block{
    max-width: 500px;
    padding: 0 0 0 50px;
}
.footer_links_1, .footer_links_2{
    /*padding-left: 30px;*/
    line-height: 30px;
    float: left;
}
.footer_links_1 ul{
    padding: 13px 60px 0 15px;
    list-style-type: square;
}
.footer_links_2 ul{
    padding: 13px 0px 0 10px;
    list-style-type: square;
}


.footer_block a{
    color: #fff;
}
.footer_block a:hover{
    color: #c2a0df;
}
.footer_about{
    padding-top: 20px;
}
.footer_apps{
    float: left;
}
.footer_apps img{
    padding-right: 10px;
    width: 140px;
}

.footer_alt{
    padding: 20px 122px;
    background-color: #4a2369;
    color: #fff;
}
.footer_alt a{
    color: #c49bdf;
}
.footer_alt a:hover{
    color: #fc5103;
}
.footer_blog_item{
    margin-top: 15px;
}
.footer_blog_item a:hover{
    text-decoration: none;
}
.footer_blog_item img {
    margin-right: 15px;
}
.footer_blog_item .img-left {
    float: left;
    width: 120px;
    height: 80px;
}
.footer_blog_item p {
    font-size: 12px;
}
.main{
    /*padding: 20px 20px 0px 20px;*/
    /*margin: 50px 0;*/
    background-color: #f6f5f7;
    padding-top:80px;
}


/*index*/

.submitButton{
    background: #fd9a0d;
    padding: 10px 40px;
    color: #FFFFFF!important;
}

.paddingBottom40{
    padding-bottom: 40px;
}
.paddingTop40{
    padding-top: 40px;
}
.paddingTop20{
    padding-top: 20px;
}
.paddingRight100{
    padding-right: 100px!important;
}

.login-buttons{
    float: right;
}
.login-buttons a{
    padding: 15px 10px;
    display: inline-block;
}
.login-buttons a:hover{
    background-color: #eee;
}

.left-sidebar{
    border: 1px solid #e1e2e0;
    padding: 10px;
    background-color: #FFFFFF;
}

ul label{
    font-weight: normal;
}
ul label:hover{
    cursor: pointer;
}

.btn-primary{
    background-color: #f53535!important;
    border: 1px solid #f53535!important;
}
.btn-primary:hover{
    background-color: #f5584b !important;
    border: 1px solid #f5584b !important;
}



/*Section*/
.section-wrapper {
    padding-top: 30px;
    background: #fff;
}
.section-wrapper-inner {
    padding-top: 10px;
    background: #fff;
}
.section-title {
    margin-bottom: 30px;
    text-align: center;
}
h1.page_title{
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-title h4 {
    margin-bottom: .5rem;
    margin-top: 0;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    color: #f9676b;
    font-size: 2.5rem;
}
.section-title h2 {
    margin-bottom: .5rem;
    margin-top: 0;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.2;
    color: #07253F;
}
.section-title p {
    line-height: 1.7;
    color: #07253F;
    font-size: 1.7rem;
}

.inner_background{
    background: #673194;
    color: #fff;
    text-align: center;
    padding:20px;
}
.inner_background p span {
    margin: 0 10px;
    display: inline-block;
}
.inner_background p i {
    margin-right: 5px;
}
.inner_background h3 {
    font-weight: 700;
    letter-spacing: 1px;
}


/*Dropdown menu*/
.dropdown_li{
    /*width: 200px;*/
    /*height: 50px;*/
    position: relative;
}
.dropdown_menu{
    display: block;
    position: absolute;
    z-index: 1040;
}
.navbar-new{
    background-color: #ffffff;
    color: #fff;
}
.navbar-new li{
    color:#333;
}
.navbar-new a{
    color: #323232;
    font-weight: bold;
}
.navbar-new a:hover{
    color: #484848;
    text-decoration: none;
}

.navbar-brand{
    padding: 0 200px 0 37px!important;
}
.navbar{
    margin-bottom: 0!important;
    /*padding: 4px 0;!important;*/
    border-bottom: 1px solid #d9d9d9 !important;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
    color:#ccc;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.li_sub_menu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;margin-right:-10px;
}
.li_sub_menu:hover>a:after{
    border-left-color:#555;
}

.header-notifications{
    color:#fff;
    background-color: #363537;
    padding: 10px 15px;
    font-size: 13px;
}
.header-notifications i{
    margin: 0 2px 0 20px;
}
.header-notifications a{
    color: #fff;
    text-decoration: none;
}
i.header_cart_icon{
    color: #000;
    font-size: 28px;
}

.all_site {
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    left: 0;
    opacity: .9;
    top: 0;
    display: none;
    width: 100%;
    z-index: 999;
    position: fixed;
    transform: translateZ(0)
}

div.flash_notification{
    z-index:1001;
    position:fixed;
    left:0; right:0;
    top:20%;
    margin:auto;
    max-width:100%;
    max-height:100%;
    overflow:auto;
    width:500px;
    border-radius: 10px;
    /*height:500px;*/
}

/*MOBILE MENU*/
.mobile_menu{
    display: none;
    background-color: #fff;
    top: 0;
    right: 0;
    width: 300px;
    position: absolute;
    text-align: left;
    padding-top: 30px;
    height: 100%;
    z-index: 1003;
    overflow-y: auto;
    overflow-x: hidden;
    color: #FFFFFF;
}
.mobile_menu_body a{
    color: #522776;
    display: block;
}
.mobile_menu_body a:hover{
    color: #ed3237;
    background-color: #eee;
    text-decoration: none;
}
.mobile_menu_icon{
    margin-top: 20px;
    text-align: center;
    padding: 0px 15px 0px 2px;
    z-index: 102;
    font-size: 14px;
}

.mobile_menu_icon i{
    color:#000;
}
.mobile_menu_icon i:hover{
    color:#fc5103;
}

.mobile_menu_header{
    padding: 0 20px 10px 20px;
    border-bottom: 1px solid #ffffff;
}
.mobile_menu_header i{
    vertical-align: middle;
    padding-right: 10px
}
.mobile_menu_header img{
    width: 150px;
}
.sign_in_mob{
    margin: 0;
    padding:15px 30px 40px 30px;
    background-color: #d7d9f9;

}
.sign_in_mob a:hover{
    background-color: unset;
    color: #ed3237;
}
.mobile_menu_body{
    padding: 10px 0;
    font-size: 16px;
}
.mobile_menu_body .nav>li>a {
    padding: 10px 30px!important;
    font-weight: bold;
}
.mobile_sub_menu{
    display: none;
    list-style: none;
    line-height: 35px!important;
    padding-top: 0px!important;
}
.mobile_drop_menu{
    padding:10px 30px;
    cursor: pointer;
}
.mobile_sub_menu a{
    padding-left: 60px!important;
}
i.sub_menu_toggle{
    padding: 0 10px;
}
i.sub_menu_toggle:hover{
    color: #c7c7c7;
}


/*About*/
div.about{
    /*padding: 50px 0;*/
}
div.about h2{
}
div.about_text{
    color: #9c9c9c;
    padding: 25px 0;
    font-size: 16px;
}

div.about_img{
    padding:100px 0 0 40px;
}
div.about_img img{
    /*width: 100%;*/
}
.rectangle {
    background: -webkit-gradient(linear,left top,right top,from(#42a5f5),to(#6dd5ed));
    background: -webkit-linear-gradient(left,#42a5f5 0,#6dd5ed 100%);
    background: -o-linear-gradient(left,#42a5f5 0,#6dd5ed 100%);
    background: linear-gradient(90deg,#42a5f5 0,#6dd5ed 100%);
    border-radius: 10px;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.rectangle img {
    border-radius: 10px;
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
}
.back-pattern-1 {
    background: #fff url(../img/pattern-1.jpg) repeat;
}
.back-pattern-2 {
    background: #fff url(../img/pattern-2.jpg) repeat;
}



/*Contacts*/
div.contacts{
    padding: 50px 0;
}

div.contacts h4{
    font-weight: bold;
}

span.contact_email{
    color: #0ec19d;
}
button.send_submit{
    padding: 7px 40px;
    background-color: #3498DB;
    border: 0;
    color: #fff;
}
button.send_submit:hover{
    background-color: #fe7036;
}


/*DEFAULT CSS*/
.custom_block{
    padding: 20px 5%!important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    margin-top: 30px;
}

.custom_block_slider{
    padding: 20px 0!important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    margin-top: 1px;
}

.default .warning_text{
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    border-radius: 8px;
    padding: 15px;
}
ul.digit_style{
    list-style: decimal;
    font-weight: 700;
}
ul.digit_style span{
    font-weight: normal;
}
ul.dash_style{
    list-style: none;
    margin:0;
    padding-left: 25px;
}
ul.dash_style > li:before {
    content: "-";
    text-indent: -5px;
    margin-right: 10px;
}
.default label{
    font-weight: bold;
    font-family: "Segoe UI",Roboto,Arial,sans-serif;
    font-size: 16px;
}

/*input.default, textarea.default, select.default{*/
.bootstrap-tagsinput input{
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding: 0 !important;
    border: 0!important;
    border-radius: 0!important;
    width: unset!important;

}
.bootstrap-tagsinput{
    font-size: 14px;
    padding: 10px!important;
    width: 100%;
}
.bootstrap-tagsinput .tag{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: normal;
}

.default select, .default input[type="text"], .default input[type="email"], .default input[type="password"], .default textarea{
    color: #495057;
    padding: 8px 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 18px;
}
.default_date{
    margin-top: 6px!important;
    margin-bottom: 18px!important;/
}
.default_date input{
    border-radius: 4px 0 0 4px!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.default select {
    /*padding: 7px 15px 7px 15px;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: normal;
    color: #333;
    cursor: pointer;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 12px center;
    background-size: 10px 10px;
}


.default select:focus, .default input:focus, .default textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(0,123,255,.25);
}
div.default_radio {
    position: relative;
    display: block;
    min-height: 24px;
    padding-left: 24px;
}
div.default_radio label{
    cursor: pointer;
}

.default_radio input[type="radio"]{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.default_radio input[type="radio"]:checked~label::after{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
}
.default_radio input[type="radio"]:checked~label::before{
    color: #fff;
    background-color: #007bff;
    box-shadow: 0  0 0 3px rgba(0,123,255,.25);
}

.default_radio label::before{
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}
.default_radio label::after{
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/*checkbox*/
.default .checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    /*font-size: 22px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.default .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.default .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.default .checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.default .checkbox input:checked ~ .checkmark {
    background-color: #00adef;
}

/* Create the checkmark/indicator (hidden when not checked) */
.default .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */
.default .checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.default .checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.default .checkmark_radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #eee;
    border-radius: 50%;
}
.default .checkbox .checkmark_radio:after {
    top: 8px;
    left: 8px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}
.default_button{
    background-color: #673194;
    color: #fff;
    padding: 7px 30px!important;
    border-radius: 0;
    margin-top: 6px;
}
.default_button:hover{
    background-color: #8c43c9;
    color: #fff!important;
}
.default_button i{
    font-size: 12px;
}
.required_star{
    color: red;
    font-weight: bold;
    font-size: 24px;
}


h1.title{
    text-align: center;
    color: #212529;
    font-size: 32px;
    font-family: "Segoe UI",Roboto,Arial,sans-serif;
    font-weight: 500;
}



hr.dark_gray{
    border-top: 1px solid #bababa !important;
    margin: 20px 0 30px 0;
}
hr.dark_purple{
    border-top: 3px solid #673194 !important;
    margin: 20px 0 25px 0;
}

hr.light_gray{
    margin-top: 16px;
    margin-bottom: 16px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.btn_gray{
    background-color: #dbdbdb !important;
}
hr.bottomOnly{
    margin-top:0!important;
}

h3.heading, h4.img_title{
    margin: 0!important;
    font-family: 'Oswald', sans-serif!important;
    letter-spacing: 1px!important;
}


div.page_title{
    text-align: left;
    display: inline-block;
    margin-top: 10px;

}
div.page_title h2{
    font-weight: bold;
    letter-spacing: 2px;
    color: #242424;
    font-size: 32px;
}
div.page_title hr{
    width: 105%;
    background-color: red;
    height: 3px;
    float: left;
    margin-top: -5px;
}


div.page_title_select h2{
    font-weight: bold;
    letter-spacing: 2px;
    color:#000;
    font-size: 48px;
    text-align:left;
    line-height: 56px;
    padding-top: 20px;

}
div.page_title_select h4{
    letter-spacing: 1px;
    color: #6e40a8;
    font-size: 32px;
    text-align:left;
    line-height: 56px;
    padding-top: 20px;

}


/*Login, Register*/
div.fb_sign_in a {
    display: block;
    background-color: #4267B2;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

div.fb_sign_in a:hover {
    background-color: #5787e9;
}
div.google_sign_in a {
    display: block;
    background-color: #fff;
    color: #202020;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

div.google_sign_in a:hover {
    border: 1px solid #3e3e3e;
}
div.fb_sign_in i {
    float: left;
    padding: 4px 0 5px 14px;
}
div.google_sign_in i {
    float: left;
    padding: 3px 10px;
}



/*NEWS*/
.col-lg-3{
    padding-left: 8px!important;
    padding-right: 8px!important;
}
.news_box{
    margin-bottom: 30px;
    height: 270px;
    background-color: #fff;
}
/*NEWS*/
.news_box:hover{
    -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .13);
    -moz-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .13);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .13);
}
.news_image{
    width: 100%;
    height: 150px;
}
.news_title{
    padding: 10px;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    margin-bottom: 10px;
    height: 72px;
}
.news_date{
    padding: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #454545;
    margin-bottom: 10px;
    height: 72px;
    font-weight: bold;
}

/*News inner*/
.news_inner_box{
    background-color: #fff;
}
.news_inner_img{
    width: 100%;
    height: 300px;
}
.news_inner_box img{
    width: 100%;
}
.news_inner_title{
    font-size: 32px;
    font-weight: bold;
    padding: 20px 0;
}
.news_inner_text{
    margin-top: 20px;
}

.news_inner_right_box{
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #545454;
    padding:15px 10px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom:10px;
}
.news_inner_right_box i{
    padding-right: 3px;
}
.news_inner_subscribe_area{
    padding-top:10px;
}
.news_inner_subscribe_area button.subscribe{
    color: #fff;
    font-size: 16px;
    background-color: red;
    padding:10px 15px;
    border: 1px solid red;
    border-radius: 4px;
}
.news_inner_subscribe_area button.subscribed{
    background-color: #00B600!important;
    border: 1px solid #00B600!important;
}
.news_inner_subscribe_area button.subscribe:hover{
    color: #fff;
    background-color: #d40000;
}
.news_inner_subscribe_area button.like{
    color: #727272;
    font-size: 24px;
    padding-left: 10px;
    border:0;
    background-color: #fff;
}
.news_inner_subscribe_area button.liked i{
    background-color: #00B600;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
}
.news_inner_subscribe_area button.like:hover{
    color: #00B600;
}

.news_inner_subscribe_area button.dislike{
    color: #727272;
    font-size: 24px;
    padding: 0px;
    margin-left: 10px;
    border:0;
    background-color: #fff;
}
.news_inner_subscribe_area button.disliked i{
    background-color: red;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
}

.news_inner_subscribe_area button.dislike:hover{
    color: red;
}

/*Tag box*/
.tag_box{
    margin-bottom: 10px;
    padding: 5px 0;
    border: 1px solid #ededef;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .13);
    -moz-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .13);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .13);
    border-radius: 5px;
}

a.tag_box_a:hover{
    color:red;
}

/*SEARCH AREA*/
.search_area{
    margin-top: 10px;
}
.search_area input{
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    width: 60%;
}
.search_area button{
    padding: 9px 20px;
    background-color: #673194;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
}



@media screen and (min-width: 767px) {
    .visible-xs-flex, .mobile_menu_icon{
        display: block!important;
    }
    .web_pl_remove{
        padding-left: 0!important;
    }
}
@media screen and (max-width: 767px) {
    .visible-xs-flex {
        display: flex; !important
    }

    .container-fluid, .container{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .paddingTop40{
        padding-top: 10px;
    }
    .paddingBottom40{
        padding-bottom: 10px;
    }
    .main{
        padding: 80px 0px 0px 0px!important;
    }

    .inner_background{
        padding: 5px;
    }
    /*h3{*/
    /*    margin-top: 10px!important;*/
    /*}*/
    .row{
        margin-right: 0!important;
        margin-left: 0!important;
    }
    .col-sm-12, .col-lg-3, .col-xs-6{
        /*padding-right: 3px!important;*/
        /*padding-left: 3px!important;*/
    }
    .col-xs-4, .col-md-4, .col-xs-8, .col-md-8{
        padding-right: 0px!important;
        padding-left: 0px!important;
    }

    .header_logo{
        margin-left: 0;
    }
    .header_logo img{
        width: 130px;
    }
    .footer_block{
        padding: 0;
    }
    img.footer_logo {
        width: 100px;
    }
    .header_cart a{
        padding: 25px 6px 16px 6px
    }
    .header_cart_count{
        right: 20px
    }
    .account_area {
        right: 13%;
    }
    .account_area .sub_menu{
        margin-left: 0px;
        min-width: 160px!important;
    }

    hr.dark_gray{
        margin: 20px 0 20px 0;
    }
    .footer{
        padding: 20px 10px;
    }
    .footer_alt{
        padding: 20px;
    }
    .mobile_menu_icon{
        display: block;
    }
    .login-buttons, .menu{
        /*display: none;*/
    }
    .navbar-brand{
        padding: 0 0px 0 10px!important;
    }
    .navbar-brand img{
        padding-top: 8px;
        width: 150px;
    }
    div.header{
        /*display: none;*/
    }
    .header-notifications{
        font-size: 12px;
    }
    .left-sidebar{
        display: none;
    }
    .paddingTop20{
        padding-top: 0;
    }
    .paddingRight100{
        padding-right: 0!important;
    }

    h2.content{
        margin-top:0;!important;
    }

    /*About*/
    div.about{
        padding:0;
    }


    /*Shopping cart*/
    input.cart_quantity{
        width: 70px;
    }
    td.cart_price{
        width: 20px;
    }
    td.actions{
        width: 300px;
    }

    h3.heading{
        margin-top: 0!important;
    }
    ul.media li{
        text-align: center;
    }
    ul.media>li img {
        width: 100%;
        height: 195px;
        padding: 3px 30px;
    }
    .sidebar_search .btn {
        right: 0px;
    }


    /*About*/
    div.about {
        padding: 0 20px;
    }
    div.about_img{
        padding: 0 20px;
    }
    div.about_img img{
        max-width: 100%;
    }

    /*Section*/
    .section-title h2 {
        font-size: 2rem;
    }
    h1.page_title{
        font-size: 24px;
    }

    div.schedule_app{
        font-size: 22px;
    }
    div.schedule_app_text{
        margin-bottom: 20px;
    }


    /*DEFAULT CSS*/
    .custom_block{
        margin: 10px 0;
    }

    .remove_col_padding{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .remove_col_padding_mob{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .remove_col_padding_web{
        padding-left: 15px!important;
        padding-right: 15px!important;
    }

    .sidebar_info_block{
        order: 3;
    }
    .sidebar_model_block{
        order: 2;
    }
    .sidebar_amenities_block{
        order: 1;
    }

    div.how_it_works * div.step_title {
        font-size: 24px;
    }
    div.how_it_works * div.step_text {
        padding-top: 20px;
        font-size: 18px;
    }


    div.page_title_select h2{
        font-weight: bold;
        letter-spacing: 1px;
        color:#000;
        font-size: 26px;
        text-align:left;
        line-height: 56px;
        padding-top: 0px;

    }
    div.page_title_select h4{
        letter-spacing: 1px;
        font-size: 24px;
        line-height: 22px;
        margin-bottom: 30px;
    }

    div.select_service i{
        font-size: 64px;
        color: #7d49c0;
    }
    div.select_service_box h2{
        font-size: 18px;
    }

    div.roommate_list_title h3{
        font-size: 18px;
    }

    div.umodal {
        margin-left: 0;
        left: 0;
    }

    /*News*/
    .news_title{
        font-size: 16px;
    }
}