.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-add-payment {
  font-size:(48/10)*1rem;
  width:(48/48)*1em;
}
.icon-address-card {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-arrow-circle-right {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-bank {
  font-size:(47.001/10)*1rem;
  width:(47.001/47.001)*1em;
}
.icon-bars {
  font-size:(512/10)*1rem;
  width:(448/512)*1em;
}
.icon-bb {
  font-size:(65/10)*1rem;
  width:(68/65)*1em;
}
.icon-camera {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-cards {
  font-size:(612/10)*1rem;
  width:(612/612)*1em;
}
.icon-cc-amex {
  font-size:(512/10)*1rem;
  width:(576/512)*1em;
}
.icon-cc-discover {
  font-size:(512/10)*1rem;
  width:(576/512)*1em;
}
.icon-cc-mastercard {
  font-size:(512/10)*1rem;
  width:(576/512)*1em;
}
.icon-cc-paypal {
  font-size:(512/10)*1rem;
  width:(576/512)*1em;
}
.icon-cc-visa {
  font-size:(512/10)*1rem;
  width:(576/512)*1em;
}
.icon-check-square {
  font-size:(512/10)*1rem;
  width:(448/512)*1em;
}
.icon-comment-alt {
  font-size:(512/10)*1rem;
  width:(576/512)*1em;
}
.icon-credit-card {
  font-size:(512/10)*1rem;
  width:(576/512)*1em;
}
.icon-delete-button {
  font-size:(174.24/10)*1rem;
  width:(174.24/174.24)*1em;
}
.icon-envelope {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-fontawesome {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-funds {
  font-size:(442/10)*1rem;
  width:(442/442)*1em;
}
.icon-game {
  font-size:(321.15/10)*1rem;
  width:(321.15/321.15)*1em;
}
.icon-graduation-cap {
  font-size:(512/10)*1rem;
  width:(640/512)*1em;
}
.icon-heart {
  font-size:(512/10)*1rem;
  width:(576/512)*1em;
}
.icon-home-phone {
  font-size:(51.41/10)*1rem;
  width:(51.41/51.41)*1em;
}
.icon-house {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-house_-_Copy {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-info {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-info-circle {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-insurance {
  font-size:(480.03/10)*1rem;
  width:(480.03/480.03)*1em;
}
.icon-key {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-light-bulb {
  font-size:(205.4/10)*1rem;
  width:(205.4/205.4)*1em;
}
.icon-manat-symbol {
  font-size:(370/10)*1rem;
  width:(450/370)*1em;
}
.icon-map-market-all {
  font-size:(512/10)*1rem;
  width:(384/512)*1em;
}
.icon-mobile-alt {
  font-size:(512/10)*1rem;
  width:(320/512)*1em;
}
.icon-mode-circular-button {
  font-size:(99.004/10)*1rem;
  width:(99.004/99.004)*1em;
}
.icon-money-bill-alt {
  font-size:(512/10)*1rem;
  width:(640/512)*1em;
}
.icon-order {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-payment {
  font-size:(511.96/10)*1rem;
  width:(511.96/511.96)*1em;
}
.icon-phone {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-question {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-refresh-lock {
  font-size:(47.002/10)*1rem;
  width:(47.002/47.002)*1em;
}
.icon-router {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-share {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-sign-out-alt {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-sim {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-speech-bubble {
  font-size:(78.67/10)*1rem;
  width:(78.67/78.67)*1em;
}
.icon-square {
  font-size:(512/10)*1rem;
  width:(448/512)*1em;
}
.icon-television {
  font-size:(453/10)*1rem;
  width:(453/453)*1em;
}
.icon-transaction {
  font-size:(490.24/10)*1rem;
  width:(490.24/490.24)*1em;
}
.icon-transfer-money {
  font-size:(64/10)*1rem;
  width:(64/64)*1em;
}
.icon-unlock {
  font-size:(512/10)*1rem;
  width:(384/512)*1em;
}
.icon-user {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-user-02 {
  font-size:(55/10)*1rem;
  width:(55/55)*1em;
}
.icon-user-circle {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-users {
  font-size:(512/10)*1rem;
  width:(640/512)*1em;
}
.icon-wallet {
  font-size:(469.34/10)*1rem;
  width:(469.34/469.34)*1em;
}
